ktor:
    application:
        modules:
            - com.solodev.fleet.ApplicationKt.module
    deployment:
        port: 8080

jwt:
    secret: "change-me-in-production-use-env-var-min-64-chars"
    issuer: "http://0.0.0.0:8080/"
    audience: "http://0.0.0.0:8080/"
    realm: "Fleet Management Access"
    expiresIn: 3600000

storage:
    jdbcUrl: "jdbc:postgresql://127.0.0.1:5435/fleet_db"
    username: "fleet_user"
    password: "secret_123"
    driverClassName: "org.postgresql.Driver"
    maximumPoolSize: 10
